body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 375px;
    margin: auto;
    background-color: #f4f5f7;
  }
  
  .app-bar {
    /* App Bar - Compact - Dark - iOS */
    background: #3C3A39;
    margin: auto;
    width: 375px;
    display: flex;
    flex: content;
    flex-direction: row;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 12px;
    margin: auto;
    box-sizing: border-box;
  }
  
  .app-bar a {
    left: 0px;
    right: 0px;
    top: 44px;
    bottom: 0px;
    text-decoration: none;
    color: #FFFFFF;
  }
  
  nav {
    display: flex;
    flex: content;
    flex-direction: row;
    justify-content: end;
  }
  
  .tool-bar-container p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    flex-direction: inherit
  }
  
  .main-mobile {
    color: #f4f5f7;
    /* Theme 3 / Neutral 1 */
    background: #1c1a19;
    padding: 1em;
  }
  
  .main-mobile h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    letter-spacing: 0.37px;
    color: #ff6b00;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 12px;
  }
  
  .primary-text p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    font-size: 24px;
    letter-spacing: 0;
    text-align: left;
    color: #fff;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 12px;
  }
  
  #primary-text-des {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  
  .social-icons {
    display: flex;
    padding: 0px;
    padding: 0;
    margin-bottom: 120px;
  }
  
  ul li {
    list-style-type: none;
  }
  
  .illustration-1 {
    left: 65.74%;
    right: -30.09%;
    top: 29.3%;
    bottom: -11.63%;
    transform: matrix(-0.96, 0.27, 0.27, 0.96, 0, 0);
  }
  
  .my-recent-works {
    /* Title */
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    /* or 130% */
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    margin: auto;
    box-sizing: border-box;
  }
  
  .my-recent-works h1 {
    padding: 12px;
    margin: auto;
    box-sizing: border-box;
  }
  
  .title {
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0;
    text-align: left;
  }
  
  .title-post {
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 0;
    text-align: left;
  }
  
  .title-post p {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    text-align: left;
  }
  
  .see-projects {
    /* See Project */
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    background-image: url('img/bg-image.png');
    /* identical to box height, or 141% */
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    /* Theme 2 / Neutral 11 */
    color: #fff;
  }
  
  .featured-image {
    /* Featured Img */
    gap: 24px;
    box-sizing: border-box;
    padding: 12px;
    margin: auto;
  }
  
  .featured-image h2 {
    font-family: 'Crete Round';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    padding-left: 12px;
  }
  
  .featured-image p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-left: 12px;
  }
  
  .featured-image ul {
    list-style-type: none;
    display: flex;
    flex: content;
    flex-direction: row;
    padding-left: 12px;
    margin-top: 2px;
  }
  
  .featured-image ul li {
    color: #000000;
    border: solid 1px #1C1A19;
    border-spacing: 5rem;
  }
  
  .featured-image>button {
    margin-left: 12px;
    margin-top: 2px;
    border-collapse: collapse;
  }
  
  section {
    width: 375px;
  }
  
  button {
    padding: 12px;
    /* Theme 3 / Primary 1 */
    color: #FFFFFF;
    background: #FF6B00;
    border-collapse: collapse;
  }
  
  .tags {
    /* Tags */
    list-style-type: none;
    display: flex;
    flex: content;
    flex-direction: row;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  
  .tag {
    /* Tag */
    padding: 10px 12px;
    border-spacing: 22px;
  }
  
  .projects {
    background-image: url('bg-image.png');
    /* Img Placeholder */
    background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(bg-image.png);
  }
  
  .projects h1 {
    height: 91px;
    font-family: 'Crete Round';
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 54px;
    color: #FFFFFF;
    margin-bottom: 40px;
  }
  
  .projects p {
    width: 295px;
    height: 87px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 12px;
    padding: 12px;
  }
  
  .projects ul {
    list-style-type: none;
    display: flex;
    flex: content;
    flex-direction: row;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    list-style-type: none;
  }
  
  .projects ul li {
    color: #ffffff;
    border: solid 1px #1C1A19;
    border-spacing: 22px;
  }
  
  #about {
    gap: 24px;
    /* Theme 3 / Neutral 1 */
    background: #1C1A19;
    color: #ffffff;
    width: 375px;
    margin: auto;
  }
  
  .about-me {
    left: 0;
    top: 4137px;
    /* Theme 3 / Neutral 1 */
    background-image: url('mg/illustration-header-mobile.png');
  }
  
  .about-me h1 {
    /* Primary Text */
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    /* or 122% */
    letter-spacing: 0.37px;
    /* Theme 3 / Primary 1 */
    color: #ff6b00;
    margin-bottom: 24px;
  }
  
  .about-me p {
    /* Theme 3 / Body Reguler 2 */
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #f4f5f7;
  }
  
  .about-me-2 p {
    /* Primary Text */
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    /* Neutrals/N800 */
    color: #172b4d;
  }
  
  .get-resume-button {
    /* Button / Enable */
    gap: 10px;
    background: #ff6b00;
  }
  
  .skills {
    text-align: center;
    justify-content: center;
    display: flex;
    flex: content;
    flex-direction: column;
  }
  
  .skills ul {
    display: flex;
    flex: content;
    flex-direction: column;
    list-style-type: none;
  }
  
  .submit {
    /* Get in touch */
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    padding: 12px;
    gap: 10px;
    width: 131px;
    height: 48px;
    color: #ffffff;
    background: #FF6B00;
  }
  
  footer {
    display: flex;
    flex: content;
    justify-content: center;
    width: 375px;
    margin: auto;
  }