.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.app-bar {
  /* App Bar - Compact - Dark - iOS */
  background: #3c3a39;
}

.time {
  /* ↳ Time */
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.28px;

  /* Color/4/100% */
  color: #fff;
}

.main-mobile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  gap: 12px;

  /* Theme 3 / Neutral 1 */
  background: #1c1a19;
}

.primary-text {
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin-left: 24px;
  margin-right: 24px;
}

.primary-text p {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0;
  text-align: left;
  font-style: normal;
  color: #fff;
  flex: none;
}

.primary-text h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  display: flex;
  align-items: center;
}

.social-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  flex: none;
  order: 3;
  flex-grow: 0;
  margin-bottom: 120px;
}

.my-recent-works {
  /* Title */
  font-style: normal;
  font-weight: 400;
  font-size: 40px;

  /* or 130% */
  display: flex;
  align-items: center;

  /* Theme 3 / Neutral 1 */
  color: #1c1a19;
}

.title {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0;
  text-align: left;
}

.title-post {
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0;
  text-align: left;
}

.title-post p {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  text-align: left;
}

.see-projects {
  /* See Project */
  font-style: normal;
  font-weight: 700;
  font-size: 17px;

  /* identical to box height, or 141% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;

  /* Theme 2 / Neutral 11 */
  color: #fff;
}

.featured-image {
  /* Featured Img */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 24px;
  gap: 24px;
}

.featured-image p {
  /* Theme 3 / Body Reguler 2 */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  /* Neutrals/N900 */
  color: #091e42;
}

.title-text p {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  text-align: left;
}

.tags {
  /* Tags */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
}

.tag {
  /* Tag */
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;

  /* Neutrals/N0 */
  background: #fff;

  /* Neutrals/N90 */
  border: 1px solid #8993a4;
}

.projects {
  /* Img Placeholder */
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(bg-image.png);
}

.about-me {
  left: 0;
  top: 4137px;

  /* Theme 3 / Neutral 1 */
  background: #1c1a19;
  background-image: url('img/illustration-header-mobile.png');
}

.about-me h1 {
  /* Primary Text */
  font-style: normal;
  font-weight: 400;
  font-size: 72px;

  /* or 122% */
  letter-spacing: 0.37px;

  /* Theme 3 / Primary 1 */
  color: #ff6b00;
}

.about-me p {
  /* Theme 3 / Body Reguler 2 */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #f4f5f7;
}

.about-me-2 p {
  /* Primary Text */
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  text-align: center;

  /* Neutrals/N800 */
  color: #172b4d;
}

.get-resume-button {
  /* Button / Enable */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  background: #ff6b00;
}

ul {
  list-style-type: none;
}

.skills-title {
  /* Language */
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  align-items: center;
  color: #fff;
}

.submit {
  /* Get in touch */
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
}

.footer {
  color: rgb(255, 255, 255);
}
